body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.home-nav {
	flex-grow: 1;
  margin-right: 3em;
}

.db-card {
	flex-grow: 0;
  width: 20em;
}

.footer-github {
	margin-left: 1em;
	margin-top: .4em;
}

.footer-github-link {
	color: white;
}

.footer-copyright {
  padding-right: 1em;
}

.flex {
	display: flex;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-space {
  display: flex;
  justify-content: space-between;
}

.flex-1 {
	flex: 1;
}

.border-fix {
	border-bottom: 1px solid #e0e0e0 !important;
}