<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head">
    <meta charset="utf-8"/>

    <title>Spring to Angular Training</title>
    <meta name="description" content="Spring to Angular Training"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" th:href="@{/styles/materialize.css}"/>
    <link rel="stylesheet" th:href="@{/styles/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/styles/application.css}"/>
  </head>

  <body>
    <header th:fragment="header">
      <nav class="teal lighten-3">
	    <div class="nav-wrapper">
	      <a href="#" style="padding-left: 1em" class="brand-logo">Spring to Angular Training</a>
	    </div>
	  </nav>
    </header>
    
    <main class="container">
      <div class="flex-space">
        <div class="home-nav">
	        <h4>Exercises</h4>
	        <div class="flex">
			      <div class="collection flex-1">
		          <a th:href="@{/products/1}" class="collection-item">Ex 1 Get Product</a>
		          <a th:href="@{/orders/1}" class="collection-item">Ex 1 Get Order</a>
		          <a th:href="@{/stores/Joe's Sports Store/Joe}" class="collection-item">Ex 1 Get Store</a>
	            <a th:href="@{/products/1}" class="collection-item">Ex 2 Get Product</a>
	            <a th:href="@{/orders/1}" class="collection-item">Ex 2 Get Order</a>
	            <a th:href="@{/stores/Joe's Sports Store/Joe}" class="collection-item">Ex 2 Get Store</a>
		          <a href="#!" class="collection-item">Exercise 3</a>
		          <a th:href="@{/orders/test}" class="collection-item">Exercise 12</a>
	            <a th:href="@{/inventory}" class="collection-item">Ex 14 Get Products</a>
	            <div class="collection-item">
	              <form id="addInventory" action="/inventory/add" method="post">
	                <a href="#" onClick="$('#addInventory').submit()">Ex 14 Add Product</a>
	              </form>
	            </div>
              <div class="collection-item">
                <form id="deleteInventory" action="/inventory/delete" method="post">
                  <a href="#" onClick="$('#deleteInventory').submit()">Ex 14 Delete Product</a>
                </form>
              </div>
              <a th:href="@{/inventory/search?searchTerm=apples&amp;sortBy=id}" class="collection-item">Ex 15 Search</a>
              <a th:href="@{/inventory/search?searchTerm=apples}" class="collection-item">Ex 15 Default Sort</a>
              <div class="collection-item">
                <form id="deleteInventoryId" action="/inventory/delete/311" method="post">
                  <a href="#" onClick="$('#deleteInventoryId').submit()">Ex 15 Delete By Id</a>
                </form>
              </div>
			      </div>
			      
			      <div class="collection flex-1">
              <a th:href="@{/shop}" class="collection-item">Exercise 16</a>
              <a th:href="@{/shop/newsletter}" class="collection-item">Exercise 17</a>
              <a th:href="@{/shop}" class="collection-item">Exercise 18</a>
              <a th:href="@{/stores/Joe's Sports Store/Joe}" class="collection-item">Ex 1 Get Store</a>
              <a th:href="@{/products/1}" class="collection-item">Ex 2 Get Product</a>
              <a th:href="@{/orders/1}" class="collection-item">Ex 2 Get Order</a>
              <a th:href="@{/stores/Joe's Sports Store/Joe}" class="collection-item">Ex 2 Get Store</a>
              <a href="#!" class="collection-item">Exercise 3</a>
              <a th:href="@{/orders/test}" class="collection-item">Exercise 12</a>
              <a th:href="@{/inventory}" class="collection-item">Exercise 14</a>
            </div>
            
            <div class="collection flex-1">
              <a th:href="@{/products/1}" class="collection-item">Ex 1 Get Product</a>
              <a th:href="@{/orders/1}" class="collection-item">Ex 1 Get Order</a>
              <a th:href="@{/stores/Joe's Sports Store/Joe}" class="collection-item">Ex 1 Get Store</a>
              <a th:href="@{/products/1}" class="collection-item">Ex 2 Get Product</a>
              <a th:href="@{/orders/1}" class="collection-item">Ex 2 Get Order</a>
              <a th:href="@{/stores/Joe's Sports Store/Joe}" class="collection-item">Ex 2 Get Store</a>
              <a href="#!" class="collection-item">Exercise 3</a>
              <a th:href="@{/orders/test}" class="collection-item">Exercise 12</a>
              <a th:href="@{/inventory}" class="collection-item">Exercise 14</a>
            </div>
		      </div>
	      </div>
	      
	      <div class="flex-column">
	        <div>
			      <div class="card blue-grey darken-1 db-card">
			        <div class="card-content white-text">
			          <span class="card-title">Training Database</span>
			          <p>We are using an embedded H2 database. View tables using the console (link below),
			          and enter 'jdbc:h2:mem:TRAIN' for the JDBC URL.</p>
			        </div>
			        <div class="card-action">
			          <a th:href="@{/console}">Console</a>
			        </div>
			      </div>
		      </div>
		      <div>
		        <h5>Actuator</h5>
		        <a th:href="@{/health}">/health</a>
		        <a th:href="@{/metrics}">/metrics</a>
		        <a th:href="@{/beans}">/beans</a>
		        <a th:href="@{/autoconfig}">/autoconfig</a>
		        <br/>
		        <a th:href="@{/configprops}">/configprops</a>
		        <a th:href="@{/env}">/env</a>
		      </div>
	      </div>
      </div>
    </main>
    
    <footer class="page-footer" th:fragment="footer">
      <div class="footer-copyright teal lighten-3">
        <a href="https://github.com/jkneal/spring-angular-train" class="footer-github-link">
          <i class="fa fa-github fa-2x footer-github"></i>
        </a>
        <div class="right">
          Spring to Angular Training
        </div>
      </div>
    </footer>
    
    <div th:fragment="scripts">
	    <script type="text/javascript" th:src="@{/scripts/jquery-2.1.3.min.js}"></script>
	    <script type="text/javascript" th:src="@{/scripts/materialize.js}"></script>
    </div>
  </body>
</html>