<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="home :: head">
  </head>
  
  <body>
    <header th:replace="home :: header">
    </header>
    
    <main class="container">
      <div class="right right-align">
	      <div th:if="${#httpServletRequest.getAttribute('userSession') eq null and !browsing}">
	        Please Login to Shop
	      </div>
	      <div th:if="${#httpServletRequest.getAttribute('userSession') ne null}">
	        <span th:text="${'Welcome ' + #httpServletRequest.getAttribute('userSession').userName}"></span>
	      </div>
        
        <a th:href="@{/shop/back}">Back</a>
      </div>
      
      <blockquote class="red-text text-lighten-1" th:text="#{msgs.todaysSales}">Today's Sales</blockquote>
      
      <h4 id="storeName" th:text="${store.name}"></h4>
      
       <div class="row">
		    <div class="col s12">
		      <ul class="tabs">
		        <li class="tab col s3"><a class="active" href="#information">Information</a></li>
		        <li class="tab col s3"><a href="#products">Products</a></li>
		      </ul>
		    </div>
		    
		    <div id="information" class="col s12">
	        <p th:text="${store.address.fullAddress}"></p>
	        <p th:text="${'Owned by ' + #strings.toUpperCase(store.owner)}"></p>
	        <p><span class="highlight badge" th:text="${store.open eq 'OPEN' ? 'Open' : 'Closed'}"></span></p>
	        
	        <a id="hoursModalTrigger" href="#" class="btn-flat">View Hours</a>
				  <div id="hoursModal" class="modal">
				    <div class="modal-content">
				      <h4>Store Hours</h4>
				      <p>M-F 8:00 AM - 5:00 PM</p>
				      <p>Saturday 8:00 AM - 12:00 PM</p>
				      <p>Sunday Closed</p>
				    </div>
				    <div class="modal-footer">
				      <a href="#!" class="modal-action modal-close btn-flat">Got it!</a>
				    </div>
				  </div>
		    </div>
		    
		    <div id="products" class="col s12">
	        <h4>Products</h4>
	        
	        <table id="productTable">
	          <thead>
	            <tr>
	              <th>Name</th>
	              <th>Description</th>
	              <th>Category</th>
	              <th>Price</th>
	            </tr>
	          </thead>
	          <tbody>
	            <tr th:each="product : ${products}">
	              <td th:text="${product.name}" data-attr="name"></td>
	              <td th:text="${product.description}"></td>
	              <td th:text="${product.category}"></td>
	              <td th:text="${{product.price}}"></td>
	            </tr>
	          </tbody>
	        </table>
		    </div>
		  </div>
    </main>
    
    <footer th:replace="home :: footer">
    </footer>
    
    <div th:replace="home :: scripts">
    </div>
    <script type="text/javascript" th:src="@{/scripts/shop.js}"></script>
  </body>
</html>